body
{
   background-color: #EDE9E1;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
   overflow-x: hidden;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
.visibility-hidden
{
   visibility: hidden;
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)
{
   #wb_intro, #wb_introLayoutGrid, #wb_LayoutGrid1
   {
      background-attachment: scroll !important;
   }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5)
{
   #wb_intro, #wb_introLayoutGrid, #wb_LayoutGrid1
   {
      background-attachment: scroll !important;
   }
}
#wb_header
{
   clear: both;
   position: -webkit-sticky;
   position: sticky;
   top: 0;
   z-index: 7776;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #000000;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#header
{
   box-sizing: border-box;
   padding: 15px 15px 15px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#header > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#header > .row > .col-1, #header > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#header > .row > .col-1, #header > .row > .col-2
{
   float: left;
}
#header > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: left;
}
#header > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 66.66666667%;
   text-align: right;
}
#header:before,
#header:after,
#header .row:before,
#header .row:after
{
   display: table;
   content: " ";
}
#header:after,
#header .row:after
{
   clear: both;
}
@media (max-width: 320px)
{
#header > .row > .col-1, #header > .row > .col-2
{
   float: none;
   width: 100% !important;
}
}
#wb_intro
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   height: 100vh;
   background-color: transparent;
   background-image: url('../images/cabeza de zorro en cuarto celeste.jpg');
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: fixed;
   background-size: cover;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#intro
{
   box-sizing: border-box;
   height: 100vh;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   padding: 75px 0 75px 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#intro > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#intro > .col-1
{
   -webkit-flex: 0 0 auto;
   flex: 0 0 auto;
}
#intro > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 100%;
   max-width: 100%;
   display: -webkit-flex;
   -webkit-flex-wrap: wrap;
   -webkit-align-content: center;
   -webkit-align-self: stretch;
   -webkit-align-items: center;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
   text-align: center;
}
@media (max-width: 480px)
{
#wb_intro, #intro
{
   height: auto;
}
#intro > div[class^="col-"]
{
   height: 100vh;
}
#intro > .col-1
{
   -webkit-flex-basis: 100% !important;
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_coffee
{
   background-color: #403832;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   position: relative;
}
#coffee
{
   display: -webkit-flex;
   display: flex;
   position: relative;
   padding: 65px 10px 65px 10px;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   -webkit-align-items: stretch;
   align-items: stretch;
   -webkit-align-content: flex-start;
   align-content: flex-start;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
   box-sizing: border-box;
   font-size: 0;
}
@media all and (max-width:480px) 
{
#coffee
{
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
}
}
#wb_introLayoutGrid
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: url('../images/letras y palabras.png');
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: fixed;
   background-size: cover;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#introLayoutGrid
{
   box-sizing: border-box;
   padding: 40px 15px 40px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#introLayoutGrid > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#introLayoutGrid > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#introLayoutGrid > .row > .col-1
{
   float: left;
}
#introLayoutGrid > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#introLayoutGrid > .row > .col-1 > .col-1-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 10px 0 10px 0;
}
#introLayoutGrid:before,
#introLayoutGrid:after,
#introLayoutGrid .row:before,
#introLayoutGrid .row:after
{
   display: table;
   content: " ";
}
#introLayoutGrid:after,
#introLayoutGrid .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#introLayoutGrid > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#introLayoutGrid-overlay
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-image: linear-gradient(to top, #000000 0%, rgba(0,0,0,0.00) 100%);
}
#wb_about
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #000000;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#about
{
   box-sizing: border-box;
   padding: 0 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#about > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#about > .row > .col-1, #about > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#about > .row > .col-1, #about > .row > .col-2
{
   float: left;
}
#about > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 50%;
   text-align: center;
}
#about > .row > .col-1 > .col-1-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 25px 0 25px 0;
}
#about > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 50%;
   text-align: left;
}
#about > .row > .col-2 > .col-2-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 25px 0 25px 0;
}
#about:before,
#about:after,
#about .row:before,
#about .row:after
{
   display: table;
   content: " ";
}
#about:after,
#about .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#about > .row > .col-1, #about > .row > .col-2
{
   float: none;
   width: 100% !important;
}
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: url('../images/escritorio exagonal.jpg');
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: fixed;
   background-size: cover;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid1
{
   box-sizing: border-box;
   padding: 20px 15px 20px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#LayoutGrid1 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid1 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid1 > .row > .col-1
{
   float: left;
}
#LayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#LayoutGrid1 > .row > .col-1 > .col-1-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 10px 0 10px 0;
}
#LayoutGrid1:before,
#LayoutGrid1:after,
#LayoutGrid1 .row:before,
#LayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid1:after,
#LayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid1 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#LayoutGrid1-overlay
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAARSURBVChTYwCC/wTw8AcMDACpwQf5WhD4kgAAAABJRU5ErkJggg==);
   background-repeat: repeat;
   background-position: left top;
}
#wb_prices
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #000000;
   background-image: none;
   border: 0px solid #FFFFFF;
   box-sizing: border-box;
   margin: 0 0 25px 0 ;
}
#prices
{
   box-sizing: border-box;
   padding: 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#prices > .row
{
   margin-right: 0;
   margin-left: 0;
}
#prices > .row > .col-1, #prices > .row > .col-2, #prices > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#prices > .row > .col-1, #prices > .row > .col-2, #prices > .row > .col-3
{
   float: left;
}
#prices > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: center;
}
#prices > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: center;
}
#prices > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: left;
}
#prices:before,
#prices:after,
#prices .row:before,
#prices .row:after
{
   display: table;
   content: " ";
}
#prices:after,
#prices .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#prices > .row > .col-1, #prices > .row > .col-2, #prices > .row > .col-3
{
   float: none;
   width: 100% !important;
}
}
#upStickyLayer
{
   background-color: #403832;
   background-image: none;
   border-radius: 0px;
   opacity: 0.77;
}
#wb_upIcon
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #3E3E3E;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 4px 4px 4px 4px;
   vertical-align: top;
}
#upIcon
{
   height: 24px;
   width: 24px;
}
#upIcon i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 24px;
   line-height: 24px;
   vertical-align: middle;
   width: 23px;
}
#upIcon:hover i
{
   color: #EC9C29;
}
#wb_contact
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: url('../images/13.png');
   background-repeat: no-repeat;
   background-position: center center;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 1px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #C2C1C1;
   border-right-color: #C2C1C1;
   border-bottom-color: #C2C1C1;
   border-left-color: #C2C1C1;
   box-sizing: border-box;
   margin: 0;
}
#contact
{
   box-sizing: border-box;
   padding: 75px 15px 75px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#contact > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#contact > .row > .col-1, #contact > .row > .col-2, #contact > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#contact > .row > .col-1, #contact > .row > .col-2, #contact > .row > .col-3
{
   float: left;
}
#contact > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: left;
}
#contact > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: left;
}
#contact > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: left;
}
#contact:before,
#contact:after,
#contact .row:before,
#contact .row:after
{
   display: table;
   content: " ";
}
#contact:after,
#contact .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#contact > .row > .col-1, #contact > .row > .col-2, #contact > .row > .col-3
{
   float: none;
   width: 100% !important;
}
}
#contact-overlay
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-color: #403832;
   opacity: 0.49;
}
#contact-divider-top
{
   overflow: hidden;
   position: absolute;
   top: 0%;
   width: 100%;
   height: 50px;
   line-height: 0;
   left: 0;
   transform: scaleY(-1.0);
}
#contact-divider-top svg
{
   display: block;
   width: 100%;
   height: 100%;
   position: relative;
   left: 50%;
   top: 0;
   transform: translateX(-50%);
}
#contact-divider-top .divider-fill
{
   fill: #403832;
   transform-origin: bottom;
   transform: rotateY(0deg);
}
#contact-divider-bottom
{
   overflow: hidden;
   position: absolute;
   line-height: 0;
   bottom: 0%;
   left: 0;
   width: 100%;
   height: 50px;
}
#contact-divider-bottom svg
{
   display: block;
   width: 100%;
   height: 100%;
   position: relative;
   left: 50%;
   transform: translateX(-50%);
}
#contact-divider-bottom .divider-fill
{
   fill: #000000;
   transform-origin: bottom;
   transform: rotateY(0deg);
}
#wb_contactIcon2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #EDE9E1;
   border-radius: 50%;
   text-align: center;
   margin: 0 5px 0 0 ;
   padding: 6px 6px 6px 6px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_contactIcon2:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #645E59;
}
#contactIcon2
{
   height: 30px;
   width: 30px;
}
#contactIcon2 i
{
   color: #EDE9E1;
   display: inline-block;
   font-size: 30px;
   line-height: 30px;
   vertical-align: middle;
   width: 29px;
}
#contactIcon2:hover i
{
   color: #645E59;
}
#wb_contactIcon3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #EDE9E1;
   border-radius: 50%;
   text-align: center;
   margin: 0 5px 0 0 ;
   padding: 6px 6px 6px 6px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_contactIcon3:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #645E59;
}
#contactIcon3
{
   height: 30px;
   width: 30px;
}
#contactIcon3 i
{
   color: #EDE9E1;
   display: inline-block;
   font-size: 30px;
   line-height: 30px;
   vertical-align: middle;
   width: 29px;
}
#contactIcon3:hover i
{
   color: #645E59;
}
#wb_contactIcon4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #EDE9E1;
   border-radius: 50%;
   text-align: center;
   margin: 0 5px 0 0 ;
   padding: 6px 6px 6px 6px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_contactIcon4:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #645E59;
}
#contactIcon4
{
   height: 30px;
   width: 25px;
}
#contactIcon4 i
{
   color: #EDE9E1;
   display: inline-block;
   font-size: 25px;
   line-height: 30px;
   vertical-align: middle;
   width: 24px;
}
#contactIcon4:hover i
{
   color: #645E59;
}
#wb_contactLabel2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 1px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0 0 20px 5px;
   text-align: center;
}
#contactLabel2
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 27px;
   margin: 0;
   text-align: center;
}
#contactLabel3
{
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 17px;
   box-sizing: border-box;
   padding: 0 0 20px 0;
   margin: 0;
   text-align: left;
   vertical-align: top;
}
#contactEmail
{
   border: 1px solid #FFFFFF;
   border-radius: 0px;
   background-color: #403832;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   box-sizing: border-box;
   line-height: 16px;
   padding: 10px 10px 10px 10px;
   margin: 0 0 15px 0 ;
   text-align: left;
}
#contactEmail::placeholder
{
   color: #FFFFFF;
   opacity: 1;
}
#contactEmail::-ms-input-placeholder
{
   color: #FFFFFF;
}
#contactButton
{
   border: 1px solid #FFFFFF;
   border-radius: 0px;
   background-color: #FFFFFF;
   background-image: none;
   color: #403832;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
   padding: 1px 1px 6px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#contactLabel1
{
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 17px;
   box-sizing: border-box;
   padding: 0 0 20px 0;
   margin: 30px 0 0 0 ;
   text-align: left;
   vertical-align: top;
}
#contactName
{
   border: 1px solid #FFFFFF;
   border-radius: 0px;
   background-color: #403832;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   box-sizing: border-box;
   line-height: 16px;
   padding: 10px 10px 10px 10px;
   margin: 0 0 15px 0 ;
   text-align: left;
}
#contactName::placeholder
{
   color: #FFFFFF;
   opacity: 1;
}
#contactName::-ms-input-placeholder
{
   color: #FFFFFF;
}
#contactMessage
{
   border: 1px solid #FFFFFF;
   border-radius: 0px;
   background-color: #403832;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   box-sizing: border-box;
   padding: 10px 10px 10px 10px;
   margin: 0 0 15px 0 ;
   text-align: left;
   overflow: auto;
   resize: none;
}
#contactMessage::placeholder
{
   color: #FFFFFF;
   opacity: 1;
}
#contactMessage::-ms-input-placeholder
{
   color: #FFFFFF;
}
#contactLabel4
{
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 17px;
   box-sizing: border-box;
   padding: 0 0 10px 0;
   margin: 0;
   text-align: left;
   vertical-align: top;
}
#wb_contactAddress 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 20px 0;
   margin: 0;
   text-align: left;
}
#wb_contactAddress
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 16px;
}
#wb_contactAddress p, #wb_contactAddress ul
{
   margin: 0;
   padding: 0;
}
#wb_contactAddress
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_coffeeCard1
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 0%;
   flex-basis: 0%;
   -webkit-align-self: auto;
   align-self: auto;
   box-sizing: border-box;
   margin: 15px 15px 15px 15px;
   background-color: #000000;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   text-align: right;
}
#coffeeCard1-card-body
{
   padding: 0;
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0;
}
#coffeeCard1-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#coffeeCard1-card-item1
{
   box-sizing: border-box;
   margin: 20px 20px 10px 20px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
   text-align: left;
}
#coffeeCard1-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 0 20px;
   border-top: 1px #FFFFFF solid;
   border-width: 1px 0 0 0;
   height: 0;
   line-height: 0;
}
#coffeeCard1-card-item3
{
   box-sizing: border-box;
   margin: 20px 20px 20px 20px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   line-height: 18.2px;
   text-align: left;
}
#coffeeCard1-card-item4
{
   box-sizing: border-box;
   margin: 20px 20px 20px 20px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   text-align: right;
}
#wb_coffeeCard2
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 0%;
   flex-basis: 0%;
   -webkit-align-self: auto;
   align-self: auto;
   box-sizing: border-box;
   margin: 15px 15px 15px 15px;
   background-color: #000000;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   text-align: right;
}
#coffeeCard2-card-body
{
   padding: 0;
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0;
}
#coffeeCard2-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#coffeeCard2-card-item1
{
   box-sizing: border-box;
   margin: 20px 20px 10px 20px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
   text-align: left;
}
#coffeeCard2-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 0 20px;
   border-top: 1px #FFFFFF solid;
   border-width: 1px 0 0 0;
   height: 0;
   line-height: 0;
}
#coffeeCard2-card-item3
{
   box-sizing: border-box;
   margin: 20px 20px 20px 20px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   line-height: 18.2px;
   text-align: left;
}
#coffeeCard2-card-item4
{
   box-sizing: border-box;
   margin: 20px 20px 20px 20px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   text-align: right;
}
#wb_coffeeCard3
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 0%;
   flex-basis: 0%;
   -webkit-align-self: auto;
   align-self: auto;
   box-sizing: border-box;
   margin: 15px 15px 15px 15px;
   background-color: #000000;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   text-align: right;
}
#coffeeCard3-card-body
{
   padding: 0;
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0;
}
#coffeeCard3-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#coffeeCard3-card-item1
{
   box-sizing: border-box;
   margin: 20px 20px 10px 20px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
   text-align: left;
}
#coffeeCard3-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 0 20px;
   border-top: 1px #FFFFFF solid;
   border-width: 1px 0 0 0;
   height: 0;
   line-height: 0;
}
#coffeeCard3-card-item3
{
   box-sizing: border-box;
   margin: 20px 20px 20px 20px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   line-height: 18.2px;
   text-align: left;
}
#coffeeCard3-card-item4
{
   box-sizing: border-box;
   margin: 20px 20px 20px 20px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   text-align: right;
}
#wb_aboutCarousel
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
   margin: 0;
}
#wb_aboutCarousel
{
   box-sizing: border-box;
width: 100%;   height: 263px;
}
#aboutCarousel
{
   position: relative;
   margin: 0;
   line-height: 1;
   height: 100%;
   box-sizing: border-box;
}
#aboutCarousel .carousel-inner
{
   overflow: hidden;
   width: 100%;
   height: 100%;
   position: relative;
   -webkit-perspective: 1200px;
   perspective: 1200px;
}
.carousel.pointer-event
{
   -ms-touch-action: pan-y;
   touch-action: pan-y;
}
#aboutCarousel .carousel-inner::after
{
   display: block;
   clear: both;
   content: "";
}
#aboutCarousel .carousel-inner > .carousel-item
{
   display: none;
   position: relative;
   float: left;
   width: 100%;
   margin-right: -100%;
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
   -webkit-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
   -webkit-transform-style: preserve-3d;
   transform-style: preserve-3d;
   -webkit-transition: opacity 1500ms ease-in-out;
   transition: opacity 1500ms ease-in-out;
   height: 100%;
   text-align: left;
}
#aboutCarousel .carousel-innerframe
{
   padding: 0 0 20px 0;
}
#aboutCarousel .carousel-inner > .carousel-item > img, #aboutCarousel .carousel-inner > .carousel-item > a > img
{
   display: block;
   line-height: 1;
}
#aboutCarousel .carousel-inner > .active, #aboutCarousel .carousel-inner > .carousel-item-next, #aboutCarousel .carousel-inner > .carousel-item-prev
{
   display: block;
}
#aboutCarousel .carousel-inner > .active
{
   -webkit-animation: aboutCarousel-animation-show 1500ms ease 0ms both;
   animation: aboutCarousel-animation-show 1500ms ease 0ms both;
}
#aboutCarousel .carousel-inner > .carousel-item-next, #aboutCarousel .carousel-inner > .carousel-item-prev
{
   position: absolute;
   top: 0;
   width: 100%;
}
#aboutCarousel .carousel-inner > .carousel-item-next.carousel-item-left, #aboutCarousel .carousel-inner > .carousel-item-prev.carousel-item-right
{
   -webkit-animation: aboutCarousel-animation-show 1500ms ease 0ms both;
   animation: aboutCarousel-animation-show 1500ms ease 0ms both;
}
#aboutCarousel .carousel-inner > .active.carousel-item-left, #aboutCarousel .carousel-inner > .active.carousel-item-right
{
   -webkit-animation: aboutCarousel-animation-hide 1500ms ease both;
   animation: aboutCarousel-animation-hide 1500ms ease both;
   z-index: 999;
  -webkit-transform-origin: 0% 0%;
   transform-origin: 0% 0%;
}
#aboutCarousel .carousel-indicators
{
   list-style: none;
   bottom: 0;
   padding: 0;
   margin: 0;
   position: absolute;
   margin-left: -48px;
   left: 50%;
   vertical-align: middle;
   z-index: 999;
}
#aboutCarousel .carousel-indicators li
{
   display: block;
   float: left;
   margin: 6px 6px 6px 6px;
   width: 19px;
   height: 3px;
   cursor: pointer;
   text-indent: -999px;
   background-color: #FFFFFF;
   background-clip: padding-box;
   box-sizing: content-box;
   border-bottom: 17px solid transparent;
}
#aboutCarousel .carousel-indicators .active
{
   background-color: #E7B360;
}
#aboutCarousel .frame
{
   width: 940px;
   display: inline-block;
   float: left;
   height: 263px;
}
@-webkit-keyframes aboutCarousel-animation-show
{
   0%   { opacity: 0; -webkit-transform: scale(0.8); }
   100% { opacity: 1; -webkit-transform: scale(1.0); }
}
@-webkit-keyframes aboutCarousel-animation-hide
{
   0%   { -webkit-transform: rotateZ(0deg); }
   20%  { -webkit-transform: rotateZ(10deg); animation-timing-function: ease-out;}
   40%  { -webkit-transform: rotateZ(17deg); }
   60%  { -webkit-transform: rotateZ(16deg);}
   100% { -webkit-transform: translateY(100%) rotateZ(17deg); }
}
@keyframes aboutCarousel-animation-show
{
   0%   { opacity: 0; transform: scale(0.8); }
   100% { opacity: 1; transform: scale(1.0); }
}
@keyframes aboutCarousel-animation-hide
{
   0%   { transform: rotateZ(0deg); }
   20%  { transform: rotateZ(10deg); animation-timing-function: ease-out;}
   40%  { transform: rotateZ(17deg); }
   60%  { transform: rotateZ(16deg);}
   100% { transform: translateY(100%) rotateZ(17deg); }
}
#wb_aboutText 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 15px 0 0 0;
   margin: 0 0 20px 0 ;
   text-align: center;
}
#wb_aboutText
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
   line-height: 21px;
}
#wb_aboutText p, #wb_aboutText ul
{
   margin: 0;
   padding: 0;
}
#wb_aboutText
{
   display: block;
   margin: 0 0 20px 0 ;
   box-sizing: border-box;
   width: 100%;
}
#aboutButton
{
   box-sizing: border-box;
   line-height: 27px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #E7B360;
   border-radius: 0px;
   background-color: #A0A0FF;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 1px 1px 4px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#wb_aboutCard1
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#aboutCard1-card-body
{
   padding: 0;
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0;
}
#aboutCard1-card-item0
{
   display: inline-block;
   height: 44px;
   box-sizing: border-box;
   margin: 30px 0 0 0 ;
   padding: 10px 10px 10px 10px;
   border: 0px solid #FFFFFF;
   border-radius: 50%;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
}
#aboutCard1-card-item0 a
{
   color: inherit;
   text-decoration: none;
}
#aboutCard1-card-item0 i
{
   text-align: center;
   vertical-align: top;
   font-size: 24px;
   width: 24px;
}
#aboutCard1-card-item1
{
   box-sizing: border-box;
   margin: 30px 50px 30px 50px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: italic;
   font-size: 19px;
}
#aboutCard1-card-item2
{
   box-sizing: border-box;
   margin: 0 30px 10px 30px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#wb_aboutCard2
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#aboutCard2-card-body
{
   padding: 0;
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0;
}
#aboutCard2-card-item0
{
   display: inline-block;
   height: 41px;
   box-sizing: border-box;
   margin: 30px 0 0 0 ;
   padding: 10px 10px 10px 10px;
   border: 0px solid #FFFFFF;
   border-radius: 50%;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 21px;
}
#aboutCard2-card-item0 a
{
   color: inherit;
   text-decoration: none;
}
#aboutCard2-card-item0 i
{
   text-align: center;
   vertical-align: top;
   font-size: 21px;
   width: 21px;
}
#aboutCard2-card-item1
{
   box-sizing: border-box;
   margin: 30px 50px 30px 50px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: italic;
   font-size: 19px;
}
#aboutCard2-card-item2
{
   box-sizing: border-box;
   margin: 0 30px 10px 30px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#wb_aboutCard4
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#aboutCard4-card-body
{
   padding: 0;
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0;
}
#aboutCard4-card-item0
{
   display: inline-block;
   height: 44px;
   box-sizing: border-box;
   margin: 30px 0 0 0 ;
   padding: 10px 10px 10px 10px;
   border: 0px solid #FFFFFF;
   border-radius: 50%;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
}
#aboutCard4-card-item0 a
{
   color: inherit;
   text-decoration: none;
}
#aboutCard4-card-item0 i
{
   text-align: center;
   vertical-align: top;
   font-size: 24px;
   width: 24px;
}
#aboutCard4-card-item1
{
   box-sizing: border-box;
   margin: 30px 50px 30px 50px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: italic;
   font-size: 19px;
}
#aboutCard4-card-item2
{
   box-sizing: border-box;
   margin: 0 30px 10px 30px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#headerMenu, #headerMenu .ui-menu-item a
{
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   text-decoration: none;
}
#headerMenu .ui-menu-item a
{
   color: #EDE9E1;
}
#headerMenu > li
{
   display: inline-block;
   list-style: none;
   width: auto;
}
#headerMenu .ui-menu-item-wrapper
{
   line-height: 18px;
   padding: 15px 15px 15px 15px;
}
#headerMenu .ui-menu-item-wrapper.has-submenu
{
   padding-right: 35px;
}
#headerMenu > .ui-menu-item-wrapper
{
   padding: 15px 31px 15px 15px;
}
#headerMenu ul
{
   width: 40px;
}
#wb_headerMenu .ui-widget-content
{
   border-color: rgba(255,255,255,0.00);
   background-color: transparent;
   background-image: none;
   color: #EDE9E1;
}
#headerMenu .ui-state-active
{
   border-color: rgba(52,58,64,1.00);
   background-color: transparent;
   background-image: none;
}
#headerMenu .ui-state-active a
{
   color: #9B643A;
}
#headerMenu .ui-arrow
{
   background-image: none;
   text-indent: 0;
   display: inline-block;
   font-family: FontAwesome;
   font-style: normal;
   font-weight: normal;
   line-height: 1;
}
#headerMenu .ui-arrow:before
{
   content: "\f105";
}
#headerMenu i
{
   font-size: 16px;
   position: absolute;
   left: 15px;
   top: 15px;
   width: 16px;
}
#wb_headerMenu
{
   z-index: 1111 !important;
}
#wb_Heading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Heading1
{
   color: #A0A0FF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
   margin: 0;
   text-align: center;
}
#wb_Image1
{
   margin: 0;
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 1920px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Card1
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0 0 25px 0 ;
   background-color: #000000;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 14px;
   text-align: left;
}
#Card1-card-body
{
   padding: 0;
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0;
}
#Card1-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 20px 2px 20px 2px;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
}
#Card1-card-item1
{
   box-sizing: border-box;
   border-radius: 0 0 14px 14px !important;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#wb_Card1 .badge
{
   background-color: #FF0000;
   border-radius: .25rem;
   color: #FFFFFF;
   display: inline-block;
   float: right;
   font-size: 75%;
   font-weight: 700;
   line-height: 1;
   padding: .25em .4em;
   text-align: center;
   transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
   vertical-align: baseline;
   white-space: nowrap;
}
#wb_Card2
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0 0 25px 0 ;
   background-color: #000000;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 14px;
   text-align: left;
}
#Card2-card-body
{
   padding: 0;
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0;
}
#Card2-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 20px 20px 20px 20px;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
}
#Card2-card-item1
{
   box-sizing: border-box;
   border-radius: 0 0 14px 14px !important;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#wb_Card2 .badge
{
   background-color: #FF0000;
   border-radius: .25rem;
   color: #FFFFFF;
   display: inline-block;
   float: right;
   font-size: 75%;
   font-weight: 700;
   line-height: 1;
   padding: .25em .4em;
   text-align: center;
   transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
   vertical-align: baseline;
   white-space: nowrap;
}
#wb_Card3
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0 0 25px 0 ;
   background-color: #000000;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 14px;
   text-align: left;
}
#Card3-card-body
{
   padding: 0;
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0;
}
#Card3-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 20px 2px 20px 2px;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
}
#Card3-card-item1
{
   box-sizing: border-box;
   border-radius: 0 0 14px 14px !important;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#wb_Card3 .badge
{
   background-color: #FF0000;
   border-radius: .25rem;
   color: #FFFFFF;
   display: inline-block;
   float: right;
   font-size: 75%;
   font-weight: 700;
   line-height: 1;
   padding: .25em .4em;
   text-align: center;
   transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
   vertical-align: baseline;
   white-space: nowrap;
}
#wb_Card4
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0 0 25px 0 ;
   background-color: #000000;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 14px;
   text-align: left;
}
#Card4-card-body
{
   padding: 0;
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0;
}
#Card4-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 20px 20px 20px 20px;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
}
#Card4-card-item1
{
   box-sizing: border-box;
   border-radius: 0 0 14px 14px !important;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#wb_Card4 .badge
{
   background-color: #FF0000;
   border-radius: .25rem;
   color: #FFFFFF;
   display: inline-block;
   float: right;
   font-size: 75%;
   font-weight: 700;
   line-height: 1;
   padding: .25em .4em;
   text-align: center;
   transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
   vertical-align: baseline;
   white-space: nowrap;
}
#wb_Card5
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0 0 25px 0 ;
   background-color: #000000;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 14px;
   text-align: left;
}
#Card5-card-body
{
   padding: 0;
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0;
}
#Card5-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 20px 20px 20px 20px;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
}
#Card5-card-item1
{
   box-sizing: border-box;
   border-radius: 0 0 14px 14px !important;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#wb_Card5 .badge
{
   background-color: #FF0000;
   border-radius: .25rem;
   color: #FFFFFF;
   display: inline-block;
   float: right;
   font-size: 75%;
   font-weight: 700;
   line-height: 1;
   padding: .25em .4em;
   text-align: center;
   transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
   vertical-align: baseline;
   white-space: nowrap;
}
#wb_Card6
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   max-width: 450px;
   margin-left: auto !important;
   margin-right: auto !important;
   background-color: rgba(230,230,250,0.63);
   background-image: none;
   border: 0px solid #800025;
   border-radius: 0px;
   text-align: center;
}
#Card6-card-body
{
   padding: 0;
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0;
}
#Card6-card-item0
{
   box-sizing: border-box;
   margin: 30px 0 30px 0 ;
   padding: 0;
}
#Card6-card-item0 h1
{
   color: #4B0082;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 29px;
   margin: 0;
}
#Card6-card-item1
{
   box-sizing: border-box;
   margin: 0 30px 30px 30px;
   padding: 0;
   color: #00008B;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#Card6-card-item2
{
   display: inline-block;
   height: 32px;
   box-sizing: border-box;
   margin: 0 0 30px 0 ;
   padding: 10px 10px 10px 10px;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: #A0A0FF;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 12px;
}
#wb_Card6:hover
{
   background-color: #E6E6FA;
   -webkit-transition: background-color 500ms linear 0ms;
   transition: background-color 500ms linear 0ms;
}
#wb_Card6
{
   background-color: rgba(169,169,169,0.63);
   -webkit-transition: background-color 500ms linear 0ms;
   transition: background-color 500ms linear 0ms;
}
#wb_LayoutGrid2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #000000;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid2
{
   box-sizing: border-box;
   padding: 40px 15px 40px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid2 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid2 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid2 > .row > .col-1
{
   float: left;
}
#LayoutGrid2 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#LayoutGrid2:before,
#LayoutGrid2:after,
#LayoutGrid2 .row:before,
#LayoutGrid2 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid2:after,
#LayoutGrid2 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid2 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 5px 10px 0 0;
   margin: 0;
   text-align: right;
}
#wb_Text2 div
{
   text-align: right;
}
#wb_Text2
{
   display: inline-block;
   margin: 0;
   width: 106px;
   height: 21px;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 5px 0 0 10px;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_Text1
{
   display: inline-block;
   margin: 0;
   width: 327px;
   height: 21px;
}
#wb_IconFont1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #BDA797;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#IconFont1
{
   height: 32px;
   width: 32px;
}
#IconFont1 i
{
   color: #BDA797;
   display: inline-block;
   font-size: 32px;
   line-height: 32px;
   vertical-align: middle;
   width: 33px;
}
#IconFont1:hover i
{
   color: #BDA797;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text3
{
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 27px;
   line-height: 29px;
}
#wb_Text3 p, #wb_Text3 ul
{
   margin: 0;
   padding: 0;
}
#wb_Text3
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_SlideShow1
{
   min-height: 20px;
   background-color: rgba(240,248,255,0.20);
   background-image: none;
   border: 1px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   width: 100%;
   table-layout: fixed;
   display: table;
   margin: 0;
}
#SlideShow1
{
   padding: 10px 40px 30px 40px;
   position: relative;
   margin: 0;
   line-height: 1;
   height: 100%;
   box-sizing: border-box;
}
#SlideShow1 .carousel-inner
{
   overflow: hidden;
   width: 100%;
   position: relative;
}
#SlideShow1 .carousel-inner > .carousel-item
{
   display: none;
   position: relative;
   -webkit-transition: 0.6s ease-in-out left;
   transition: 0.6s ease-in-out left;
}
#SlideShow1 .carousel-inner > .carousel-item > img, #SlideShow1 .carousel-inner > .carousel-item > a > img
{
   display: block;
   line-height: 1;
}
#SlideShow1 .carousel-inner > .active, #SlideShow1 .carousel-inner > .carousel-item-next, #SlideShow1 .carousel-inner > .carousel-item-prev
{
   display: block;
}
#SlideShow1 .carousel-inner > .active
{
   left: 0;
}
#SlideShow1 .carousel-inner > .carousel-item-next, #SlideShow1 .carousel-inner > .carousel-item-prev
{
   position: absolute;
   top: 0;
   width: 100%;
}
#SlideShow1 .carousel-inner > .carousel-item-next
{
   left: 100%;
}
#SlideShow1 .carousel-inner > .carousel-item-prev
{
   left: -100%;
}
#SlideShow1 .carousel-inner > .carousel-item-next.carousel-item-left, #SlideShow1 .carousel-inner > .carousel-item-prev.carousel-item-right
{
   left: 0;
}
#SlideShow1 .carousel-inner > .active.carousel-item-left
{
   left: -100%;
}
#SlideShow1 .carousel-inner > .active.carousel-item-right
{
   left: 100%;
}
#SlideShow1 .carousel-indicators
{
   list-style: none;
   bottom: 0;
   padding: 0;
   margin: 0;
   position: absolute;
   margin-left: -54px;
   left: 50%;
   vertical-align: middle;
   z-index: 998;
}
#SlideShow1 .carousel-indicators li
{
   display: block;
   float: left;
   margin: 12px 12px 12px 12px;
   width: 11px;
   height: 11px;
   cursor: pointer;
   text-indent: -999px;
   border-radius: 50%;
   background-color: #FFFFFF;
   box-shadow: 0 0 0 #000000;
   -webkit-transition: box-shadow 0.3s ease;
   transition: box-shadow 0.3s ease;
}
#SlideShow1 .carousel-indicators .active
{
   background-color: #000000;
   box-shadow: 0 0 6px #000000;
}
#SlideShow1 .thumbnails
{
   margin: 0;
   padding: 0;
   width: 100%;
}
#SlideShow1 .thumbnail
{
   position: relative;
   min-height: 1px;
   box-sizing: border-box;
   float: left;
   text-align: center;
   vertical-align: top;
   padding-right: 3px;
   width: 20%;
}
#SlideShow1 .thumbnail img
{
   max-width: 100%;
   width: 100%;
   height: auto;
   vertical-align: middle;
   box-sizing: border-box;
   border: 0px solid transparent;
   border-radius: 0px;
   display: block;
   margin-left: auto;
   margin-right: auto;
}
#wb_IconFont2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#IconFont2
{
   height: 41px;
   width: 42px;
}
#IconFont2 i
{
   color: #EDE9E1;
   display: inline-block;
   font-size: 41px;
   line-height: 41px;
   vertical-align: middle;
   width: 40px;
}
#IconFont2:hover i
{
   color: #EDE9E1;
}
#wb_Card7
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0 0 25px 0 ;
   background-color: #000000;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 14px;
   text-align: left;
}
#Card7-card-body
{
   padding: 0;
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0;
}
#Card7-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 20px 20px 20px 20px;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
}
#Card7-card-item1
{
   box-sizing: border-box;
   border-radius: 0 0 14px 14px !important;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#wb_Card7 .badge
{
   background-color: #FF0000;
   border-radius: .25rem;
   color: #FFFFFF;
   display: inline-block;
   float: right;
   font-size: 75%;
   font-weight: 700;
   line-height: 1;
   padding: .25em .4em;
   text-align: center;
   transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
   vertical-align: baseline;
   white-space: nowrap;
}
